@keyframes fadeInFromTop {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in{
    animation: fadeInFromTop 1s ease-out;
}
.custom-image {
  width: auto;
  height: auto;
}

@media (max-width: 576px) {
  /* Adjust image size for screens smaller than 576px (Bootstrap 'sm' breakpoint) */
  .custom-image {
    width: 30%;  /* 10% of the actual width */
    height: 40%; /* 20% of the actual height */
  }
}
